.background-rocket{
    background-image: url(/assets/images/rocket-background-image.jpg);
    filter: blur(6px) saturate(0);
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.major{
    margin: 0 auto;
    padding: 72px 0;
    width: 100%;
    max-width: 912px;
    z-index: 999;;
}