:root{
        --gray-100:#D9D9D9;
        --gray-700:#202020;
        --gray-800:#18181B;
        --gray-900:#121214;
        --gray-950:#0B0B0B;
        --gray-980:#b5b5b5;
        --background-color: #121214e0;
    & .light-theme{
        --gray-100:#575757;
        --gray-700:#575757;
        --gray-800:#DEDEDE;
        --gray-900:#575757;
        --gray-950:#D9D9D9;
        --gray-980:#282828;
        --background-color: #b7b7b7ed;
    }
}
