@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

html, body {
  font-size: 1px;
  background-color: var(--background-color);
  position: relative;
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

:root {
  --gray-100:#D9D9D9;
  --gray-700:#202020;
  --gray-800:#18181B;
  --gray-900:#121214;
  --gray-950:#0B0B0B;
  --gray-980:#b5b5b5;
  --background-color: #121214e0;
}
:root .light-theme {
  --gray-100:#575757;
  --gray-700:#575757;
  --gray-800:#DEDEDE;
  --gray-900:#575757;
  --gray-950:#D9D9D9;
  --gray-980:#282828;
  --background-color: #b7b7b7ed;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 48px;
  background-color: var(--gray-800);
  border-bottom: 1px solid #575757;
  position: sticky;
  top: 0;
}
@media (max-width: 480px) {
  .header {
    padding: 30px 6px;
  }
}
.header .header_title .header_title--title {
  font-size: 20rem;
  color: var(--gray-100);
  font-weight: 500;
}
.header .header_ct {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .header_ct .header_ct_nav {
  display: flex;
  flex-direction: row;
  margin-right: 83px;
}
@media (max-width: 920px) {
  .header .header_ct .header_ct_nav {
    margin-right: 12px;
  }
}
.header .header_ct .header_ct_nav i {
  font-size: 24px;
  color: var(--gray-100);
  display: none;
}
@media (max-width: 920px) {
  .header .header_ct .header_ct_nav i {
    display: block;
  }
}
.header .header_ct .header_ct_nav .menu-header-bar {
  font-size: 30px;
  display: none;
  fill: var(--gray-100) !important;
}
@media (max-width: 920px) {
  .header .header_ct .header_ct_nav .menu-header-bar {
    display: block;
  }
}
.header .header_ct .header_ct_nav .header_ct_nav_linksct {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
@media (max-width: 920px) {
  .header .header_ct .header_ct_nav .header_ct_nav_linksct {
    display: none;
  }
}
.header .header_ct .header_ct_nav .header_ct_nav_linksct a {
  text-decoration: none;
  margin-right: 32px;
}
.header .header_ct .header_ct_nav .header_ct_nav_linksct a .header_ct_nav_linksct--link {
  font-size: 20rem;
  font-weight: 500;
  color: var(--gray-100);
  transition: all 0.3s ease-in-out;
}
.header .header_ct .header_ct_nav .header_ct_nav_linksct a .header_ct_nav_linksct--link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
  margin-left: auto;
  background-color: var(--gray-100);
}
.header .header_ct .header_ct_nav .header_ct_nav_linksct a:hover .header_ct_nav_linksct--link::after {
  content: "";
  display: block;
  width: 100%;
  background-position: left;
  margin-left: 0;
}
.header .header_ct .header_ct_theme {
  display: flex;
  flex-direction: row;
}
.header .header_ct .header_ct_theme .header_ct_theme--toggle {
  background-color: var(--gray-900);
  width: 59px;
  height: 28px;
  padding: 3px 5px;
  border-radius: 8px;
  margin-right: 19px;
  cursor: pointer;
}
.header .header_ct .header_ct_theme .header_ct_theme--toggle .header_ct_theme--toggle_slide {
  background-color: var(--gray-950);
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 2px;
}
.header .header_ct .header_ct_theme .header_ct_theme--toggle .header_ct_theme--toggle_slide .header_ct_theme--toggle_slide--ball {
  background-color: var(--gray-700);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.header .header_ct .header_ct_theme label {
  display: flex;
  flex-direction: row;
}
.header .header_ct .header_ct_theme label:has(input[type=checkbox]:checked) .header_ct_theme--toggle_slide--ball {
  margin-left: 27px;
}
.header .header_ct .header_ct_theme p {
  font-size: 20rem;
  color: var(--gray-100);
}
.header .header_ct .header_ct_theme input {
  display: none;
}

.major_titlect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 77px;
}
.major_titlect .major_titlect--title {
  font-size: 36rem;
  font-weight: 500;
  color: var(--gray-100);
  text-align: center;
}
@media (max-width: 480px) {
  .major_titlect .major_titlect--title {
    font-size: 32rem;
  }
}

.background-rocket {
  background-image: url(/assets/images/rocket-background-image.jpg);
  filter: blur(6px) saturate(0);
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.major {
  margin: 0 auto;
  padding: 72px 0;
  width: 100%;
  max-width: 912px;
  z-index: 999;
}

.about {
  margin-top: 77px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 46px;
}
.about .about_imgct {
  width: 100%;
}
.about .about_imgct .about_imgct--img {
  width: 100%;
  max-width: 100%;
}
.about .about_desc {
  width: 100%;
}
.about .about_desc .about_desc--content {
  font-size: 20rem;
  color: var(--gray-100);
  font-weight: 400;
}
.about .about_desc .about_desc--content:last-child {
  margin-top: 32px;
}
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    padding: 0 4%;
  }
}

.projects {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 912px) {
  .projects {
    padding: 0 2%;
  }
}
.projects .projects--title {
  font-size: 36rem;
  color: var(--gray-100);
  font-weight: 500;
  margin-bottom: 32px;
}
.projects .projects--description {
  font-size: 20rem;
  color: var(--gray-100);
  margin-bottom: 32px;
  text-align: center;
}
.projects .projects--btn, .projects .projects--btn:visited {
  font-size: 20rem;
  color: var(--gray-100);
  border: 0.5px solid var(--gray-100);
  border-radius: 8px;
  padding: 9px 59px;
  text-decoration: none;
  margin-top: 32px;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}
.projects .projects--btn:hover {
  box-shadow: inset 500px 0 0 0 var(--gray-980);
  color: var(--gray-900);
}
.projects .projects_all-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: center;
}
.projects .projects_all-projects .projects_all-projects--a-project:nth-child(n+9):nth-child(-n+100) {
  opacity: 0;
  height: 0;
}
.projects .projects_all-projects .projects_all-projects--a-project {
  border-radius: 16px;
  border: 0.5px solid var(--gray-100);
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in-out 0.3s;
}
.projects .projects_all-projects .projects_all-projects--a-project .projects_all-projects--a-project_link {
  width: 100%;
  height: 100%;
  padding: 0 26px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
.projects .projects_all-projects .projects_all-projects--a-project .projects_all-projects--a-project_link .projects_all-projects--a-project_link--title {
  color: var(--gray-100);
  font-size: 20rem;
  text-align: center;
}

.projects .active-projects .projects_all-projects--a-project:nth-child(n+9):nth-child(-n+100) {
  opacity: 1;
  height: 180px;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 39px;
  margin-top: 72px;
}
.contact .midias {
  display: flex;
  flex-direction: column;
}
.contact .midias .midias_social-midias {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}
.contact .midias .midias_social-midias .midias_social-midias--title {
  font-size: 36px;
  color: var(--gray-100);
  margin-bottom: 40px;
  font-weight: 500;
}
.contact .midias .midias_social-midias .midias_social-midias_midia {
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
  align-items: center;
}
.contact .midias .midias_social-midias .midias_social-midias_midia i {
  font-size: 32rem;
  color: var(--gray-100);
  margin-right: 18px;
}
.contact .midias .midias_social-midias .midias_social-midias_midia .midias_social-midias_midia--link {
  font-size: 20rem;
  color: var(--gray-100);
  text-decoration: none;
}
.contact .midias .midias_social-midias .midias_social-midias_midia .midias_social-midias_midia--link:hover {
  text-decoration: underline;
}
.contact .svg-image {
  width: 100%;
  overflow: hidden;
}
.contact .svg-image .svg-image--img {
  width: 100%;
  margin-top: -52px;
}
@media (max-width: 950px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
